
a{
	color: #222;
}

a:hover, a:focus{
	text-decoration: none ;
	color: initial;
}
.c-text{
	font-family: 'Bungee', cursive;
	font-size: 30px;
}

body{
	font-family: 'Raleway', sans-serif;
}

button.btn{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 15px;
}

button.btn:hover,
button.btn:focus{
	color: #fff;
}

.btn-green,
.btn-green:hover,
.btn-green:focus{
	background-color: #038c23;
	border-color: #038c23;
}

.btn-red,
.btn-red:hover,
.btn-red:focus{
	background-color: #f40219;
	border-color: #f40219;
}


.app-header{
	background-color: #ededed;
	margin-bottom: 20px;
}

.app-logo{
	color: #f40219;
	font-size: 50px;
	margin: 0;
	padding: 30px 0;
	text-align: center;
}

.app-slides{
	height: 75vh; 
}

.ki-slides img{
	height: 550px !important;
    width: 100%;
}




/************************************
********** Menu-page-css ***********/

.nav-wrap{
	background-color: #449344;
	border: 1px solid green;
	display: block;
	position: relative;
	margin-bottom: 20px;
	height: 50px;
}

.nav-tabs{
	float: left;
    
}

.nav-tabs::-webkit-scrollbar {
	display: none !important;
  	height: 0;
}

::-webkit-scrollbar-thumb{
	background: red;
}

.nav-tabs > li{
	float: none;
	display: inline;
}

.nav-tabs > li > a.active, 
.nav-tabs > li > a.active:hover, 
.nav-tabs > li > a.active:focus{
	border: none;
	border-bottom: 3px #3cdb3c solid;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 700;
	padding-bottom: 6px;
}

.nav-tabs > li > a{
	border: none;
	color: #fff;
	font-size: 20px;
	display: inline-block;
	padding: 10px 15px;
} 

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
}  


/***********************************
********** Menu-items *********/


.menu-item{
	position: relative;
	margin-bottom: 30px;
}

.menu-item img{
	max-width: 100%;
    height: 300px;
    width: 100%;
}

.menu-image{
	background-color: #f0f0f0;
}

.menu-item .image-caption .item-name,
.menu-item .image-caption .item-price{
	position: absolute;
	color: #fff;
	font-weight: 600;
	
}

.item-price{
	background-color:  #f40219;
	color: #fff;
	display: inline-block;
	font-size: 25px;
	height: 40px;
	width: 50px;
	line-height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.menu-item .image-caption .item-price{
	right: 10px;
	top: 10px;
}

.menu-item .image-caption .item-name{
	display: block;
	font-size: 18px;
}

.add-btn {
	background-color: #038c23;
	border-color: #038c23;
	color: #fff;
	padding: 8px 15px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	z-index: 1;
	position: relative;
	float: right;
    margin-top: 5px;
}

.add-btn:hover{
	color: #fff;
}

.menu-item{
	margin-bottom: 30px;
}

.image-caption{
	bottom: 0;
	height: auto;
	padding: 10px;
	top: initial;
	position: absolute;
	width: 100%;
}

.image-caption span{
	color: #fff;
	display: block;
	line-height: 24px;
	position: relative !important;
	text-align: left;
	font-size: 17px;
	z-index: 2;
}

.image-caption:after{
	background: rgba(30, 26, 26, 0.4);
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.image-caption .item-name{
	font-size: 20px;
	bottom: 0;
	right: 0;
}

.image-caption .item-price{
	background-color: transparent;
}

.caption-left-info{
	float: left;
	overflow: hidden;
	padding-right: 15px;
}

.image-caption .ki-cart-icon{
	display: inline-block;
    margin-top: 10px;
    background: white;
    height: 30px;
    width: 30px;
    line-height: 36px;
    border-radius: 50%;
    text-align: center;
}

.image-caption .ki-cart-icon i{
	color: #f40219;
    position: relative;
    font-size: 20px;
    z-index: 1;
}

.tab-pane p{
	background-color: blue;
	display: block;
	z-index: 99;
	position: absolute;
	
}

/*******************************
******** Testimonials Css ******/

.testimonials{
	background-color: #f7f7f7;
	padding: 15px;
	margin-top: 20px;
}

.testimonials .testimonial-title{
	text-align: center;
	margin: 15px 0 45px;
}

.testimonials .userList{
	-webkit-box-shadow: 1px 1px 4px 0px rgba(200, 189, 189, 0.75);
	-ms-box-shadow: 1px 1px 4px 0px rgba(200, 189, 189, 0.75);
	box-shadow: 1px 1px 4px 0px rgba(200, 189, 189, 0.75);
	display: inline-block;
	width: 18.5%;
	margin-right: 15px;
}

.user-name h2{
	font-size: 14px;
	font-weight: bold;
}

.userList:last-child{
	margin-right: 0;
}

.userList p{
	font-size: 13px;
	margin-bottom: 0;
}

.testimonials .user-desc{
	padding: 10px;
}

.user-email p{
	text-overflow: ellipsis;
	overflow: hidden;
}

.userList .user-email{
	color: #0064CC;
}

.userList .user-img img{
	width: 100%;
	min-height: 182px;
	max-height: 182px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.userList .user-loc{
	font-style: italic;
	margin: 10px 0;
}

/******************************
******** Search Form css ********/

.search-form .form-group{
	width: calc(100% - 82px);
	display: inline-block;
	margin-right: 0.5em;
}

.form-group input.form-control{
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #e96c6c;
	color: #999;
	width: 100% !important;
	text-transform: capitalize; 
	padding: 0.375rem 0.25rem;
}

.form-group input.form-control::-webkit-input-placeholder{
	color: #999;
}

.weather-content input.form-control::-webkit-input-placeholder,
.weather-content input.form-control{
	color: #e3e3e3;
}

.form-group input.form-control:focus{
	outline: none;
	box-shadow: none;
}

.search-form input{
	padding: 7px 6px;
}

button.btn{
	border-radius: 0;
	font-size: 14px;
	padding: 9px 12px;
}

button.btn:focus{
	box-shadow: none !important;
}

/***************************************
******** Weather condition css ********/

.weather-content{
	background-image: linear-gradient(150deg, #413e6f, #0db3df);
	background-color: #f7f7f7;
	padding: 15px;
}

.Weather-title{
	margin: 0.5em 0 2.5em;
}

.Weather-title h3{
	border-bottom: 2px solid rgba(194, 187, 187, 0.4);
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	padding-bottom: 7px;
}

.weather-content form input{
    margin-right: 10px;
}


.weather-content .form-group{
	width: calc(100% - 110px);
	flex-flow: row;
}

.weather-info{
	padding-top: 25px;
}

.weather-content .weather-key{
	color: #fa8a7e;
	border-bottom: solid 2px rgba(255,255,255,0.06);
	padding: 10px 0;
	font-weight: 400;
}
.weather-key .weather-value{
	margin-left: 5px;
	color: #fff;
}

.weather-error{
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: 200;
	margin-top: 20px;
}

/*******************************
******** RecipeList Css ********/
.recipe-content{
	background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 30px;
}

.recipeList{
	margin-top: 30px;
	text-align: center;
}
.recipe-container{
	border-bottom: 1px #ccc solid;
    margin-bottom: 30px;
    display: inline-block;
    padding-bottom: 20px;
}

.recipe-container .image_wrap{
	margin-bottom: 15px;
}

.recipe-container .image_wrap img{
	height: 165px;
    width: 250px;
}

.recipe-container .publisher{
	color: #f40219;
}


/******************************
******** Media-Queries ********/
@media (max-width: 575px) { 
	.nav-wrap{
		white-space: nowrap;
		width: 100% !important;
		overflow-x: auto !important;
		overflow: hidden;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
		-webkit-overflow-style: none;
		overflow-style: none;
	}
 } 


